///////////
// Color //
///////////
$c-dark: #000;
$c-dark-brighter: #2b2b2b;

$c-light: #fff;
$c-light-darker: #dedede;

$c-accent: #3ba;
$c-pastel: #6bb;

$c-neutral: #808c8b;

//////////
// Font //
//////////
$f-family-base: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
$f-family-mono: 'Fira Mono', monospace;
$f-size-base: 16px;
