@keyframes shiney {
  0% { opacity: .8; }
  14% { opacity: .6; }
  27% { opacity: .8; }
  32% { opacity: .8; }
  41% { opacity: .4; }
  50% { opacity: .6; }
  56% { opacity: .8; }
  68% { opacity: .5; }
  74% { opacity: .6; }
  80% { opacity: .8; }
  88% { opacity: .4; }
  96% { opacity: .6; }
  100% { opacity: .8; }
}

html.dark body, html.dark body * {
  --color: var(--light);
  --background: var(--dark);
}
html.dark body svg rect, html.dark body svg path {
  fill: var(--color);
}

body {
  margin: 0;
  font-size: 0;
  background-color: var(--background);
}
body, body * {
  --wldh: #e34;
  --dark: #000;
  --light: #faf9f8;
  --color: var(--dark);
  --background: var(--light);
  --transition-duration: .23s;
  --transition-timing-function: ease;
  --transition-property: var(--transition-duration) var(--transition-timing-function);
  --transition: color var(--transition-property), opacity var(--transition-property), fill var(--transition-property), background-color var(--transition-property);
  transition: var(--transition);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1:not(.hidden), h2:not([aria-hidden="true"]):not(.hidden) {
  font-family: 'Noto Sans CJK KR Medium', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  color: var(--color);
}

span:not(.hidden), p:not(.hidden), img {
  font-family: 'Noto Sans CJK KR Regular', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  color: var(--color);
}

#switch {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  display: block;
  position: fixed;
  top: calc(48.5vh - 40px - 2vw);
  right: calc(45vw - 4rem);
  cursor: pointer;
  animation: shiney 3.2s ease-in-out infinite;
  transition: var(--transition), transform var(--transition-property);
}
#switch:hover svg, #switch:active svg {
  padding-top: 3vh;
}
#switch:focus svg, #switch:active svg {
  transition: var(--transition), padding-top var(--transition-property), transform .09s var(--transition-timing-function);
  transform: scale(.9);
}
#switch::-moz-focus-inner { border: none; }
#switch svg {
  transition: var(--transition), padding-top var(--transition-property), transform var(--transition-property);
  width: calc(80px + 4vw);
  height: calc(80px + 4vw);
  max-width: 22vh;
  max-height: 20vh;
}

#brand {
  position: fixed;
  left: calc(5px + .81vw);
  bottom: calc(2vh);
}
#brand .text-roller {
  opacity: .4;
  margin-left: 25px;
  display: block;
}
#brand .text-roller br {
  display: none;
}
#brand .text-roller > span, #brand .text-roller > span > span {
  display: block;
  font-size: calc(10px + .4vw);
  line-height: calc(16px + .64vw);
  cursor: default;
  transition: var(--transition), margin-top var(--transition-property), margin-bottom var(--transition-property);
}
#brand .text-roller > span:last-child {
  margin-bottom: calc(-16px + -.64vw);
  opacity: 0;
}
#brand .text-roller > span > span {
  opacity: 1;
  transition: var(--transition);
}
#brand .text-roller > span > span.removed {
  display: none;
}
#brand .text-roller > span > span.transparent {
  opacity: 0;
}
#brand .text-roller:hover {
  opacity: 1;
}
#brand .text-roller:hover > span:first-child {
  margin-top: calc(-16px -.64vw);
  opacity: 0;
}
#brand .text-roller:hover > span:last-child {
  opacity: 1;
  margin-bottom: 0;
}

#links {
  display: table;
  width: 100vw;
  height: 100vh;
}
#links nav {
  display: table-cell;
  vertical-align: middle;
  padding: 0 calc(5px + .81vw) 0;
  margin: auto;
}
#links nav ul {
  list-style: none;
  padding: 0;
  display: contents;
}
#links nav ul:hover li a:not(:hover):not(:focus), #links nav ul:active li a:not(:active), #links nav ul:focus-within li a:not(:focus):not(:hover) {
  opacity: .4 !important;
}
#links nav ul li {
  display: table;
  padding: 5px 10px;
}
#links nav ul li a {
  text-decoration: none;
  line-height: calc(19.2px + 5.4vh);
  outline: none;
  display: inline-block;
  padding: 0 4rem 0 0;
  position: relative;
}
#links nav ul ul {
  max-width: 30vw;
  display: block;
  margin-top: 2.5vh;
}
#links nav ul ul li {
  display: inline-table;
  padding: 0;
}
#links nav ul ul li a {
  line-height: calc(19.2px);
  padding: .5vh 0 0 15px;
}
#links nav ul ul li a:not(:hover):not(:focus):not(:active) {
  opacity: .6;
}
#links nav > ul > li > a::before {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background-color: var(--wldh);
  transform: skew(15deg);
  transition: var(--transition), width var(--transition-property), transform var(--transition-property);
}
#links nav > ul > li > a:hover::before, #links nav > ul > li > a:active::before, #links nav > ul > li > a:focus::before {
  width: 100%;
  left: 0;
  transform: skew(-15deg);
}
#links nav > ul > li > a:hover span, #links nav > ul > li > a:active span, #links nav > ul > li > a:focus span {
  color: var(--light);
  padding-left: calc(15px + 1rem);
}
#links nav > ul > li > a span {
  font-style: italic;
  position: relative;
  display: block;
  line-height: calc(19.2px + 4.8vh);
  font-size: calc(12px + 3vh);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  transition: padding-left var(--transition-property);
}

#author {
  position: fixed;
  right: calc(25px + .81vw);
  bottom: 2vh;
  opacity: .6;
}

@media only screen and (max-width: 799px), only screen and (max-height: 599px) {
  #switch {
    top: 12vh;
    left: calc(19px + .81vw);
    display: table;
  }
  #brand .text-roller {
    display: none;
  }
  #links nav {
    padding-top: 14vh;
  }
  #links nav ul li {
    display: inline-table;
  }
  #links nav ul li a {
    padding: 0;
  }
  #links nav ul li a span {
    padding-right: .75em;
  }
  #links nav ul ul {
    max-width: 80vw;
    margin-top: 0;
  }

  .link-container {
    display: table !important;
  }
}
