@keyframes shiney {
  0% { opacity: .8; }
  14% { opacity: .6; }
  27% { opacity: .8; }
  32% { opacity: .8; }
  41% { opacity: .4; }
  50% { opacity: .6; }
  56% { opacity: .8; }
  68% { opacity: .5; }
  74% { opacity: .6; }
  80% { opacity: .8; }
  88% { opacity: .4; }
  96% { opacity: .6; }
  100% { opacity: .8; }
}

html.dark body, html.dark body * {
  --foreground: #fff;
  --background: #000;
}

body {
  margin: 0;
  font-size: 0;
  background-color: var(--background);
}
body, body * {
  --wldh: #e34;
  --foreground: #000;
  --background: #fff;
  --shadow: rgba(72, 70, 68, .1);
  --transition-duration: .23s;
  --transition-timing-function: ease-in-out;
  --transition-property: .23s ease-in-out;
  --transition: color .23s ease-in-out, opacity .23s ease-in-out, background-color .23s ease-in-out;
  transition: var(--transition);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1:not(.hidden), h2:not([aria-hidden="true"]):not(.hidden) {
  font-family: 'Noto Sans CJK KR Medium', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  color: var(--foreground);
}

span:not(.hidden), p:not(.hidden), img, em {
  font-family: 'Noto Sans CJK KR Regular', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  color: var(--foreground);
}

#browser-disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(234, 234, 234, .94);
  box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, .1), 0 0.5px 2.4px 0 rgba(0, 0, 0, .1),
  0 0.15px 2px 0 rgba(0, 0, 0, .1);
  z-index: 40;
  max-height: 42vh;
  overflow: hidden;
  padding: 5px;
}
#browser-disclaimer > div {
  margin: 0 auto;
  display: table;
  border-spacing: 20px;
}
#browser-disclaimer > div > div {
  display: table-cell;
}
#browser-disclaimer em, a {
  font-family: 'Noto Sans CJK KR Regular', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-style: normal;
  opacity: .85;
  color: #000;
}
#browser-disclaimer a {
  color: #e34;
  text-decoration: none;
}
#browser-disclaimer a:hover, #browser-disclaimer a:focus {
  text-decoration: underline;
}

#brand {
  top: calc(48.5vh - 60px - 2.64vw);
  left: calc(20vw + 8rem);
  position: fixed;
  z-index: 20;
  width: calc(70vw - 5.5rem);
}

#switch {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  animation: shiney 3.2s ease-in-out infinite;
  transition: var(--transition), transform var(--transition-property), margin-bottom var(--transition-property);
  z-index: 30;
}
#switch:focus svg, #switch:active svg {
  transition: var(--transition), padding-top var(--transition-property), transform .09s var(--transition-timing-function);
  transform: scale(.9);
}
#switch::-moz-focus-inner { border: none; }
#switch svg {
  transition: var(--transition), padding-top var(--transition-property), transform var(--transition-property);
  width: calc(80px + 4vw);
  height: calc(80px + 4vw);
  max-width: 22vh;
  max-height: 20vh;
}

#brand .text-roller b {
  font-weight: 500;
}
#brand .text-roller br {
  display: none;
}
#brand .text-roller > #banner-container {
  opacity: .4;
  position: relative;
  display: block;
  height: calc(32px + 1.28vw);
  width: max-content;
  margin: 0 auto;
}
#brand .text-roller > #banner-container > span, #brand .text-roller > #banner-container > span > span {
  display: block;
  font-size: calc(20px + .8vw);
  line-height: calc(32px + 1.28vw);
  cursor: default;
  transition: var(--transition), top var(--transition-property), bottom var(--transition-property);
}
#brand .text-roller > #banner-container > span {
  position: relative;
  top: 0;
  text-align: center;
}
#brand .text-roller > #banner-container > span:last-child {
  bottom: calc(-32px + -1.28vw);
  opacity: 0;
  pointer-events: none;
}
#brand .text-roller > #banner-container > span > span {
  opacity: 1;
  transition: var(--transition);
  font-weight: 300;
}
#brand .text-roller > #banner-container > span > span.removed {
  display: none;
}
#brand .text-roller > #banner-container > span > span.transparent {
  opacity: 0;
}

#links {
  display: table;
  width: 100vw;
  height: 100vh;
}
#links nav {
  display: table-cell;
  vertical-align: middle;
  padding: 0 calc(5px + .81vw) 0;
  margin: auto;
  position: relative;
}
#links nav ul {
  list-style: none;
  padding: 0;
  display: contents;
}
#links nav ul:hover li a:not(:hover):not(:focus), #links nav ul:active li a:not(:active), #links nav ul:focus-within li a:not(:focus):not(:hover) {
  opacity: .4 !important;
}
#links nav ul li {
  display: table;
  padding: 5px 10px;
}
#links nav ul li a {
  text-decoration: none;
  line-height: calc(19.2px + 5.4vh);
  outline: none;
  display: inline-block;
  padding: 0 3rem 0 0;
  position: relative;
}
#links nav ul ul {
  max-width: 30vw;
  display: block;
  margin-top: 2.5vh;
}
#links nav ul ul li {
  display: inline-table;
  padding: 0;
}
#links nav ul ul li a {
  line-height: calc(19.2px);
  padding: .5vh 0 0 15px;
}
#links nav ul ul li a:not(:hover):not(:focus):not(:active) {
  opacity: .6;
}
#links nav > ul > li > a::before {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background-color: var(--wldh);
  transform: skew(15deg);
  transition: var(--transition), width var(--transition-property), transform var(--transition-property);
}
#links nav > ul > li > a:hover::before, #links nav > ul > li > a:active::before, #links nav > ul > li > a:focus::before {
  width: 100%;
  left: 0;
  transform: skew(-15deg);
}
#links nav > ul > li > a:hover span, #links nav > ul > li > a:active span, #links nav > ul > li > a:focus span {
  color: #fff;
  padding-left: calc(10px + 1rem);
}
#links nav > ul > li > a span {
  font-style: italic;
  position: relative;
  display: block;
  line-height: calc(19.2px + 3.6vh);
  font-size: calc(12px + 2vh);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  transition: padding-left var(--transition-property);
}

#author {
  position: fixed;
  right: calc(25px + .81vw);
  bottom: 1.2rem;
  opacity: .4;
}

@media (hover: hover) {
  #brand #switch:hover {
    transform: translateY(3vh);
    margin-bottom: 2vh;
  }

  #brand #banner-container:hover {
    opacity: 1;
  }
  #brand #banner-container:hover > span {
    top: calc(-32px + -1.28vw);
  }
  #brand #banner-container:hover > span:first-child {
    opacity: 0;
    z-index: -1;
  }
  #brand #banner-container:hover > span:last-child {
    opacity: 1;
    bottom: 0 !important;
  }
}

@media only screen and (max-width: 799px), only screen and (max-height: 599px) {
  #browser-disclaimer {
    overflow-y: auto;
  }
  #browser-disclaimer > div > div {
    display: table;
    border-spacing: 0;
  }
  #browser-disclaimer em:last-child, #browser-disclaimer a:last-child {
    padding-top: 1.7rem;
  }

  #brand {
    top: initial;
    left: calc(25px + .81vw);
    bottom: calc(60vh + 1.2rem + 30px - 8vw);
    display: table;
    right: initial;
    width: initial;
  }

  #brand #switch {
    margin-bottom: 1vh;
    margin-left: 0;
    margin-right: 0;
  }

  #brand #banner-container {
    height: 1.2rem !important;
    margin-left: 5px;
  }
  #brand #banner-container > span:last-child {
    bottom: -1.2rem !important;
  }
  #brand #banner-container span:not(.removed)::after {
    content: '';
    background-color: var(--foreground);
    opacity: .2;
    position: absolute;
    bottom: -1.1rem;
    left: 0;
    height: 1px;
    width: 40px;
    border-radius: 1px;
  }

  #brand .text-roller span {
    font-size: 1.1rem !important;
    line-height: 1.2rem !important;
    max-width: 80vw;
    text-align: initial;
    width: max-content !important;
  }

  #links {
    padding-top: calc(40vh + 8vw);
    height: calc(60vh - 8vw);
  }

  #links nav {
    padding-top: 0;
    vertical-align: top;
  }
  #links nav ul li {
    display: inline-table;
  }
  #links nav ul li a {
    padding: 0;
  }
  #links nav ul li a span {
    padding-right: .75em;
  }
  #links nav ul ul {
    max-width: 80vw;
    margin-top: 0;
  }

  #author {
    bottom: 2vh;
  }

  .link-container {
    display: table !important;
  }
}

@media only screen and (max-width: 799px) and (hover: hover), only screen and (max-height: 599px) and (hover: hover) {
  #brand #switch:hover {
    transform: translateY(2vh);
    margin-bottom: 1.5vh;
  }

  #brand #banner-container:hover > span {
    top: -1.2rem;
  }
}
