/* (c) Yuoa */

#text {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: table;
    min-width: 320px;
    min-height: 340px;
}

a {
    text-decoration: none;
}
a img {
    transition: transform .25s ease-out;
}
a:focus {
    outline: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
a:hover img, a:focus img {
    transform: scale(1.2);
}

h1, h2 {
    font-family: 'Noto Sans CJK KR Medium', 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 12pt 0;
}

span, p, img {
    font-family: 'Noto Sans CJK KR Regular', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.all {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.yuoa h1 {
    font-size: 60pt;
    color: black;
}
.yuoa h2 {
    font-size: 24pt;
    color: #3ba;
}
.yuoa img {
    width: 1.36cm;
    height: 1.36cm;
}

.navigator {
    display: inline-block;
    margin: 10vh 0 12.5vh;
    font-size: 0;
}
.navigator ul {
    list-style: none;
    padding: 0;
}
.navigator li {
    display: inline-block;
    font-size: 14pt;
}
.navigator li:not(:last-child)::after {
    content: '·';
    padding: 0px 7px;
}
.navigator a {
    transition: color .25s ease-out;
    color: #333;
}
.navigator:focus-within a:focus, .navigator:hover a:hover {
    color: black;
}
.navigator:focus-within a:not(:focus), .navigator:hover a:not(:hover), .navigator:focus-within ::after, .navigator:hover ::after {
    color: #aaa;
}
