.copyrightSection {
  width: 100%;
  padding: 0 var(--s-pad-hori) var(--s-pad-vert);
  margin-top: var(--s-pad-vert);
  box-sizing: border-box;

  .copyrightText {
    text-align: left;
    font-size: 1rem;
    vertical-align: middle;
    color: var(--c-ntr);
  }
}
