body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11pt;
  text-align: left;
  margin: 0; }
  body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body a, body a:visited {
    color: inherit;
    text-decoration: underline; }
  body span {
    font-size: 11pt;
    font-weight: 400; }
  body [data-visible="opaque"] {
    opacity: 1; }
  body [data-visible="translucent"] {
    opacity: 0.4; }
  body [data-visible="transparent"] {
    opacity: 0; }

._3ta5w3a {
  padding: 15vh 5vw;
  min-width: calc(90vw - $lndr-scrollbar-approx);
  min-height: 70vh; }

._3r13Kdy {
  margin-bottom: 2rem;
  display: inline-block; }
  ._3r13Kdy h1 {
    font-size: calc(33pt + 2vw);
    margin: 0 0 .5rem 0;
    font-weight: 700; }
  ._3r13Kdy h2 {
    font-size: calc(16.5pt + 1vw);
    margin: 0 0 .5rem 0;
    font-weight: 500; }
  ._3r13Kdy span {
    color: #b5897f; }

._3Vu-Ty7 {
  display: block; }
  ._3Vu-Ty7 [data-white-space="preserved"] {
    white-space: pre; }

._2X6tdLw {
  display: contents; }
  ._2X6tdLw .UOeKicL {
    position: absolute;
    z-index: -1;
    bottom: 10vh;
    right: 5vw;
    max-width: 50vw;
    height: auto;
    max-height: 70vh;
    transition: opacity .4s ease-in-out; }

@keyframes _2yxqpvQ {
  0% {
    opacity: .8; }
  14% {
    opacity: .6; }
  27% {
    opacity: .8; }
  32% {
    opacity: .8; }
  41% {
    opacity: .4; }
  50% {
    opacity: .6; }
  56% {
    opacity: .8; }
  68% {
    opacity: .5; }
  74% {
    opacity: .6; }
  80% {
    opacity: .8; }
  88% {
    opacity: .4; }
  96% {
    opacity: .6; }
  100% {
    opacity: .8; } }

html[data-theme="dark"] body, html[data-theme="dark"] body * {
  --foreground: #fff;
  --foreground-transparent: rgba(255, 255, 255, .79);
  --background: #000;
  --background-transparent: rgba(0, 0, 0, .71); }

body {
  margin: 0;
  font-size: 0;
  background-color: var(--background); }

._25enu8w, ._25enu8w * {
  --wldh: #e34;
  --foreground: #000;
  --foreground-transparent: rgba(0, 0, 0, .71);
  --background: #fff;
  --background-transparent: rgba(255, 255, 255, .79);
  --shadow: rgba(72, 70, 68, .1);
  --transition-duration: .23s;
  --transition-timing-function: ease-in-out;
  --transition-property: .23s ease-in-out;
  --transition: color .23s ease-in-out, opacity .23s ease-in-out, background-color .23s ease-in-out;
  transition: var(--transition);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

._25enu8w article {
  background-color: var(--background); }

._25enu8w article, ._25enu8w [data-id="background"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

._25enu8w h1:not(._3AhDHKa), ._25enu8w h2:not([aria-hidden="true"]):not(._3AhDHKa) {
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  color: var(--foreground); }

._25enu8w span:not(._3AhDHKa), ._25enu8w p:not(._3AhDHKa), ._25enu8w img, ._25enu8w em {
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  color: var(--foreground); }

._25enu8w [data-id="background"] {
  object-fit: cover;
  transition: filter 1s ease-in-out; }

._25enu8w [data-id="brand"] {
  top: calc(48.5vh - 60px - 2.64vw);
  left: calc(20vw + 8rem);
  position: fixed;
  z-index: 20;
  width: calc(70vw - 5.5rem); }

._25enu8w [data-id="switch"] {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  animation: _2yxqpvQ 3.2s ease-in-out infinite;
  transition: var(--transition), transform var(--transition-property), margin-bottom var(--transition-property);
  z-index: 30; }

._25enu8w [data-id="switch"]:focus svg, ._25enu8w [data-id="switch"]:active svg {
  transition: var(--transition), padding-top var(--transition-property), transform 0.09s var(--transition-timing-function);
  transform: scale(0.9); }

._25enu8w [data-id="switch"]::-moz-focus-inner {
  border: none; }

._25enu8w [data-id="switch"] svg {
  transition: var(--transition), padding-top var(--transition-property), transform var(--transition-property);
  width: calc(80px + 4vw);
  height: calc(80px + 4vw);
  max-width: 22vh;
  max-height: 20vh; }

._25enu8w [data-id="brand"] ._3-ngXLi b {
  font-weight: 500; }

._25enu8w [data-id="brand"] ._3-ngXLi br {
  display: none; }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] {
  opacity: .4;
  position: relative;
  display: block;
  height: calc(32px + 1.28vw);
  width: max-content;
  margin: 0 auto; }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span, ._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span > span {
  display: block;
  font-size: calc(20px + .8vw);
  line-height: calc(32px + 1.28vw);
  cursor: default;
  transition: var(--transition), top var(--transition-property), bottom var(--transition-property); }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span {
  position: relative;
  top: 0;
  text-align: center; }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span:last-child {
  bottom: calc(-32px + -1.28vw);
  opacity: 0;
  pointer-events: none; }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span > span {
  opacity: 1;
  transition: var(--transition);
  font-weight: 300; }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span > span[data-removed="true"] {
  display: none; }

._25enu8w [data-id="brand"] ._3-ngXLi > [data-id="banner-container"] > span > span[data-transparent="true"] {
  opacity: 0; }

._25enu8w [data-id="links"] {
  display: table;
  width: 100vw;
  height: 100vh; }

._25enu8w [data-id="links"] nav {
  display: table-cell;
  vertical-align: middle;
  padding: 0 calc(5px + .81vw) 0;
  margin: auto;
  position: relative; }

._25enu8w [data-id="links"] nav ul {
  list-style: none;
  padding: 0;
  display: contents; }

._25enu8w [data-id="links"] nav ul:hover li a:not(:hover):not(:focus), ._25enu8w [data-id="links"] nav ul:active li a:not(:active), ._25enu8w [data-id="links"] nav ul:focus-within li a:not(:focus):not(:hover) {
  opacity: .4 !important; }

._25enu8w [data-id="links"] nav ul li {
  display: table;
  padding: 5px 10px; }

._25enu8w [data-id="links"] nav ul li a {
  text-decoration: none;
  line-height: calc(19.2px + 5.4vh);
  outline: none;
  display: inline-block;
  padding: 0 3rem 0 0;
  position: relative; }

._25enu8w [data-id="links"] nav ul ul {
  max-width: 30vw;
  display: block;
  margin-top: 2.5vh; }

._25enu8w [data-id="links"] nav ul ul li {
  display: inline-table;
  padding: 0; }

._25enu8w [data-id="links"] nav ul ul li a {
  line-height: calc(19.2px);
  padding: .5vh 0 0 15px; }

._25enu8w [data-id="links"] nav ul ul li a:not(:hover):not(:focus):not(:active) {
  opacity: .6; }

._25enu8w [data-id="links"] nav > ul > li > a::before {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background-color: var(--wldh);
  transform: skew(15deg);
  transition: var(--transition), width var(--transition-property), transform var(--transition-property); }

._25enu8w [data-id="links"] nav > ul > li > a:hover::before, ._25enu8w [data-id="links"] nav > ul > li > a:active::before, ._25enu8w [data-id="links"] nav > ul > li > a:focus::before {
  width: 100%;
  left: 0;
  transform: skew(-15deg); }

._25enu8w [data-id="links"] nav > ul > li > a:hover span, ._25enu8w [data-id="links"] nav > ul > li > a:active span, ._25enu8w [data-id="links"] nav > ul > li > a:focus span {
  color: #fff;
  padding-left: calc(10px + 1rem); }

._25enu8w [data-id="links"] nav > ul > li > a[data-lang="Korean"] span::after {
  content: 'KR';
  font-style: italic;
  font-size: 9.5px;
  line-height: 11.5px;
  letter-spacing: 1px;
  opacity: 0;
  display: inline-block;
  padding-left: 5px;
  transition: var(--transition); }

._25enu8w [data-id="links"] nav > ul > li > a[data-lang="Korean"]:hover span::after, ._25enu8w [data-id="links"] nav > ul > li > a[data-lang="Korean"]:active span::after, ._25enu8w [data-id="links"] nav > ul > li > a[data-lang="Korean"]:focus span::after {
  opacity: .8; }

._25enu8w [data-id="links"] nav > ul > li > a span {
  font-style: italic;
  position: relative;
  display: block;
  line-height: calc(19.2px + 3.6vh);
  font-size: calc(12px + 2vh);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  transition: padding-left var(--transition-property); }

._25enu8w [data-id="author"] {
  position: fixed;
  right: calc(25px + .81vw);
  bottom: 1.2rem;
  opacity: .4; }

@media (hover: hover) {
  ._25enu8w [data-id="brand"] [data-id="switch"]:hover {
    transform: translateY(3vh);
    margin-bottom: 2vh; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"]:hover {
    opacity: 1; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"]:hover > span {
    top: calc(-32px + -1.28vw); }
  ._25enu8w [data-id="brand"] [data-id="banner-container"]:hover > span:first-child {
    opacity: 0;
    z-index: -1; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"]:hover > span:last-child {
    opacity: 1;
    bottom: 0 !important; } }

@media only screen and (max-width: 799px), only screen and (max-height: 599px) {
  ._25enu8w [data-id="brand"] {
    top: initial;
    left: calc(25px + .81vw);
    bottom: calc(60vh + 1.2rem + 30px - 8vw);
    display: table;
    right: initial;
    width: initial; }
  ._25enu8w [data-id="brand"] [data-id="switch"] {
    margin-bottom: 1vh;
    margin-left: 0;
    margin-right: 0; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"] {
    height: 1.2rem !important;
    margin-left: 5px; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"] > span:last-child {
    bottom: -1.2rem !important; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"] span[data-removed="false"]::after {
    content: '';
    background-color: var(--foreground);
    opacity: .2;
    position: absolute;
    bottom: -1.1rem;
    left: 0;
    height: 1px;
    width: 40px;
    border-radius: 1px; }
  ._25enu8w [data-id="brand"] ._3-ngXLi span {
    font-size: 1.1rem !important;
    line-height: 1.2rem !important;
    max-width: 80vw;
    text-align: initial;
    width: max-content !important; }
  ._25enu8w [data-id="links"] {
    padding-top: calc(40vh + 8vw);
    height: calc(60vh - 8vw); }
  ._25enu8w [data-id="links"] nav {
    padding-top: 0;
    vertical-align: top; }
  ._25enu8w [data-id="links"] nav ul li {
    display: inline-table; }
  ._25enu8w [data-id="links"] nav ul li a {
    padding: 0; }
  ._25enu8w [data-id="links"] nav ul li a span {
    padding-right: .75em; }
  ._25enu8w [data-id="links"] nav ul ul {
    max-width: 80vw;
    margin-top: 0; }
  ._25enu8w [data-id="author"] {
    bottom: 2vh; }
  ._25enu8w ._1Ls71lb {
    display: table !important; } }

@media only screen and (max-width: 799px) and (hover: hover), only screen and (max-height: 599px) and (hover: hover) {
  ._25enu8w [data-id="brand"] [data-id="switch"]:hover {
    transform: translateY(2vh);
    margin-bottom: 1.5vh; }
  ._25enu8w [data-id="brand"] [data-id="banner-container"]:hover > span {
    top: -1.2rem; } }

