.🚴🏿-qr9a8Gv {
  padding: 15vh 5vw;
  min-width: calc(90vw - 36px);
  min-height: 70vh;
  max-width: 100vw;
  overflow-x: hidden; }
  .🚴🏿-qr9a8Gv ::selection {
    background-color: var(--c-acnt);
    color: var(--c-fore); }
  .🚴🏿-qr9a8Gv a, .🚴🏿-qr9a8Gv a:visited {
    color: inherit;
    text-decoration: underline;
    max-width: 54vw;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom; }
    .🚴🏿-qr9a8Gv a, .🚴🏿-qr9a8Gv a *, .🚴🏿-qr9a8Gv a:visited, .🚴🏿-qr9a8Gv a:visited * {
      cursor: pointer; }
    .🚴🏿-qr9a8Gv a[data-alt], .🚴🏿-qr9a8Gv a:visited[data-alt] {
      opacity: .6;
      text-decoration: none; }
      .🚴🏿-qr9a8Gv a[data-alt]:hover, .🚴🏿-qr9a8Gv a[data-alt]:focus, .🚴🏿-qr9a8Gv a:visited[data-alt]:hover, .🚴🏿-qr9a8Gv a:visited[data-alt]:focus {
        text-decoration: underline; }
    .🚴🏿-qr9a8Gv a[data-mono], .🚴🏿-qr9a8Gv a:visited[data-mono] {
      font-family: 'Fira Mono', monospace; }
    .🚴🏿-qr9a8Gv a[data-mono="slide"], .🚴🏿-qr9a8Gv a:visited[data-mono="slide"] {
      position: relative;
      transition: text-shadow 0.8s, color 0.4s;
      padding: 1px 3px; }
      .🚴🏿-qr9a8Gv a[data-mono="slide"]::before, .🚴🏿-qr9a8Gv a:visited[data-mono="slide"]::before {
        content: '';
        background-color: var(--c-fore);
        width: 0px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: left 0.4s, width 0.4s, right 0.4s;
        border-radius: 3px; }
      .🚴🏿-qr9a8Gv a[data-mono="slide"]:hover, .🚴🏿-qr9a8Gv a[data-mono="slide"]:focus, .🚴🏿-qr9a8Gv a:visited[data-mono="slide"]:hover, .🚴🏿-qr9a8Gv a:visited[data-mono="slide"]:focus {
        color: var(--c-back);
        text-shadow: none;
        transition: text-shadow 0.2s, color 0.4s;
        outline: none; }
        .🚴🏿-qr9a8Gv a[data-mono="slide"]:hover::before, .🚴🏿-qr9a8Gv a[data-mono="slide"]:focus::before, .🚴🏿-qr9a8Gv a:visited[data-mono="slide"]:hover::before, .🚴🏿-qr9a8Gv a:visited[data-mono="slide"]:focus::before {
          left: 0;
          right: 0;
          width: 100%; }
  .🚴🏿-qr9a8Gv img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .🚴🏿-qr9a8Gv span {
    font-size: 11pt;
    font-weight: 400; }
  .🚴🏿-qr9a8Gv [data-visible="opaque"] {
    opacity: 1; }
  .🚴🏿-qr9a8Gv [data-visible="translucent"] {
    opacity: 0.4; }
  .🚴🏿-qr9a8Gv [data-visible="transparent"] {
    opacity: 0; }
  .🚴🏿-qr9a8Gv .🕒-4zRwZHi {
    margin-bottom: 2rem;
    display: inline-block;
    z-index: 10;
    position: relative; }
    .🚴🏿-qr9a8Gv .🕒-4zRwZHi h1 {
      font-size: calc(33pt + 2vw);
      margin: 0 0 .5rem 0;
      font-weight: 700;
      word-break: keep-all; }
    .🚴🏿-qr9a8Gv .🕒-4zRwZHi h2 {
      font-size: calc(16.5pt + 1vw);
      margin: 0 0 .5rem 0;
      font-weight: 500;
      word-break: keep-all; }
    .🚴🏿-qr9a8Gv .🕒-4zRwZHi span {
      color: var(--c-acnt); }
  .🚴🏿-qr9a8Gv .🍳-115YtDH {
    display: block;
    z-index: 10;
    position: relative; }
    .🚴🏿-qr9a8Gv .🍳-115YtDH span {
      white-space: pre;
      text-shadow: 0 0 5px var(--c-back); }
  .🚴🏿-qr9a8Gv .👨🏼‍✈️-jHAJqER {
    display: contents; }
    .🚴🏿-qr9a8Gv .👨🏼‍✈️-jHAJqER .💕-3hHwYYS {
      position: fixed;
      z-index: 0;
      bottom: 10vh;
      right: 5vw;
      max-width: 50vw;
      height: auto;
      max-height: 70vh;
      transition: opacity .4s ease-in-out; }



.👯🏻-eeHUhKM {
  padding: 15vh 5vw;
  min-width: calc(90vw - 36px);
  min-height: 70vh;
  max-width: 100vw;
  overflow-x: hidden; }
  .👯🏻-eeHUhKM ::selection {
    color: var(--c-fore);
    background-color: var(--c-acnt); }
  .👯🏻-eeHUhKM .🇬🇳-yw6i8v7 {
    display: none; }
  .👯🏻-eeHUhKM .🙋🏿‍♂️-jmYbPRO {
    color: var(--c-acnt); }
  .👯🏻-eeHUhKM a {
    color: var(--c-fore); }
    .👯🏻-eeHUhKM a:hover, .👯🏻-eeHUhKM a:focus {
      color: var(--c-acnt); }

