html {
  font-family: "Noto Sans CJK KR", "Noto Sans KR", sans-serif;
  font-size: 16px;
  background-color: var(--c-bg) !important;
  color: var(--c-fg) !important;
  min-width: 430px;
  transition: background-color 0.23s ease-in-out, color 0.23s ease-in-out;
  --c-acc: #3ba;
  --c-pst: #6bb;
  --c-ntr: #808c8b;
  --c-ntr-op: rgba(165, 165, 165, 0.3); }
  html :focus {
    outline: none; }
  html ::selection {
    color: #fff;
    background-color: #3ba; }
  html[data-theme="light"] {
    --c-fg: #000;
    --c-fg2: #2b2b2b;
    --c-bg: #fff;
    --c-bg2: #dedede; }
  html[data-theme="dark"] {
    --c-fg: #fff;
    --c-fg2: #dedede;
    --c-bg: #000;
    --c-bg2: #2b2b2b; }

body {
  text-align: left;
  margin: 0;
  --s-pad-hori: 50px;
  --s-pad-vert: 100px;
  --s-view: 'normal'; }
  @media screen and (min-width: 1930px) {
    body {
      --s-pad-hori: 200px;
      --s-view: 'ultra-wide'; } }
  @media screen and (min-width: 1000px) {
    body {
      --s-view: 'wide'; } }
  @media screen and (max-width: 799px) {
    body {
      --s-pad-hori: 30px;
      --s-pad-vert: 60px;
      --s-view: 'compact'; } }
  @media screen and (max-width: 519px) {
    body {
      --s-pad-hori: 20px;
      --s-pad-vert: 40px;
      --s-view:'ultra-compact'; } }
  body div[id="__next-prerender-indicator"]::after {
    z-index: 99999;
    background-color: white;
    content: var(--s-view);
    position: fixed;
    bottom: 12px;
    left: 12px;
    color: black;
    padding: 1px 5px;
    border-radius: 3px;
    opacity: 0.6; }

.IbarRBr {
  padding: calc(var(--s-metalink-factor) * 8px) calc(var(--s-metalink-factor) * 13px);
  font-size: calc(var(--s-metalink-factor) * 1.3rem);
  line-height: calc(var(--s-metalink-factor) * 1.5rem);
  color: var(--c-fg);
  display: inline-flex;
  text-decoration: none;
  font-weight: 300;
  vertical-align: middle;
  border-radius: 3px;
  transition: background-color 0.23s ease-in-out, filter 0.23s ease-in-out, color 0.23s ease-in-out; }
  .IbarRBr:target:not(.JCgmGV6), .IbarRBr:focus:not(.JCgmGV6), .IbarRBr:active:not(.JCgmGV6) {
    background-color: var(--c-ntr-op); }
    .IbarRBr:target:not(.JCgmGV6) .f1Rn7B9, .IbarRBr:focus:not(.JCgmGV6) .f1Rn7B9, .IbarRBr:active:not(.JCgmGV6) .f1Rn7B9 {
      filter: grayscale(0); }
  @media (hover: hover) {
    .IbarRBr:hover:not(.JCgmGV6) {
      background-color: var(--c-ntr-op); }
      .IbarRBr:hover:not(.JCgmGV6) .f1Rn7B9 {
        filter: grayscale(0); } }
  .IbarRBr .f1Rn7B9 {
    margin-right: 11px;
    filter: grayscale(1);
    transition: filter 0.23s ease-in-out; }
    .IbarRBr .f1Rn7B9 img {
      height: calc(var(--s-metalink-factor) * 1.5rem);
      width: calc(var(--s-metalink-factor) * 1.5rem); }
      .IbarRBr .f1Rn7B9 img.pLWGYew {
        transition: filter 0.23s ease-in-out; }
        @media screen {
          html[data-theme="dark"] .IbarRBr .f1Rn7B9 img.pLWGYew {
            filter: invert(1); } }
  .IbarRBr.JCgmGV6 {
    cursor: default;
    opacity: 0.7; }

.BvanVgK {
  min-width: 240px;
  --s-metalink-factor: 1; }
  @media screen and (max-width: 519px) {
    .BvanVgK h2 {
      display: none; } }
  .BvanVgK ul {
    list-style: none;
    padding: 0; }
    .BvanVgK ul li {
      padding: 0 0.2rem 10px 0; }
  @media screen and (max-width: 999px) {
    .BvanVgK ul {
      display: block; }
      .BvanVgK ul li {
        display: inline-block; } }
  @media screen and (max-width: 519px) {
    .BvanVgK {
      --s-metalink-factor: 0.8462; } }

.R8izw1N {
  min-height: 400px;
  background-color: var(--c-ntr-op);
  padding: 20px;
  border-radius: 3px;
  flex-grow: 1; }
  @media screen and (max-width: 999px) {
    .R8izw1N {
      min-height: initial;
      padding-bottom: 40px; } }
  .R8izw1N ._2UZumiT {
    font-size: 4rem; }

._3R0KCl3 {
  width: 100%;
  padding: 0 var(--s-pad-hori) var(--s-pad-vert);
  margin-top: calc(0.5 * var(--s-pad-vert));
  box-sizing: border-box;
  display: flex;
  flex-direction: row; }
  ._3R0KCl3 .xmWGI25 {
    margin-right: 3vw;
    vertical-align: middle;
    flex-grow: 0; }
    ._3R0KCl3 .xmWGI25 .lVLkPG7 {
      text-align: left;
      font-size: 1rem;
      color: var(--c-ntr); }
  ._3R0KCl3 .P5lQ3V9, ._3R0KCl3 ._1oMLFO7 {
    vertical-align: middle;
    margin-right: 1.6vw;
    flex-grow: 0; }
    ._3R0KCl3 .P5lQ3V9 .AYCPvVg, ._3R0KCl3 ._1oMLFO7 .AYCPvVg {
      cursor: pointer;
      background: transparent;
      color: var(--c-fg);
      font-size: 1rem;
      border: none;
      padding: 0; }
      ._3R0KCl3 .P5lQ3V9 .AYCPvVg:target, ._3R0KCl3 .P5lQ3V9 .AYCPvVg:focus, ._3R0KCl3 .P5lQ3V9 .AYCPvVg:active, ._3R0KCl3 ._1oMLFO7 .AYCPvVg:target, ._3R0KCl3 ._1oMLFO7 .AYCPvVg:focus, ._3R0KCl3 ._1oMLFO7 .AYCPvVg:active {
        color: var(--c-acc);
        transition: color 0.23s ease-in-out; }
      @media (hover: hover) {
        ._3R0KCl3 .P5lQ3V9 .AYCPvVg:hover, ._3R0KCl3 ._1oMLFO7 .AYCPvVg:hover {
          color: var(--c-acc);
          transition: color 0.23s ease-in-out; } }

.eniyv1Z .GyeMdKB {
  margin-top: var(--s-pad-vert);
  margin-left: var(--s-pad-hori);
  margin-right: var(--s-pad-hori);
  margin-bottom: 2rem; }
  .eniyv1Z .GyeMdKB h1 {
    font-size: calc(48px + 2vw);
    margin: 0 0 .5rem 0;
    font-weight: 700;
    word-break: keep-all; }
  .eniyv1Z .GyeMdKB h2 {
    font-size: calc(24px + 1vw);
    margin: 0 0 .5rem 0;
    font-weight: 500;
    word-break: keep-all; }
  .eniyv1Z .GyeMdKB span {
    color: var(--c-acc); }

.eniyv1Z .XqubJhL {
  margin-left: var(--s-pad-hori);
  margin-right: var(--s-pad-hori); }
  .eniyv1Z .XqubJhL a {
    transition: color 0.23s ease-in-out; }

.d1c9gYy {
  color: var(--c-fg);
  font-family: "Fira Mono", monospace;
  text-decoration: none; }
  .d1c9gYy:target, .d1c9gYy:focus, .d1c9gYy:active {
    text-decoration: underline; }
  @media (hover: hover) {
    .d1c9gYy:hover {
      text-decoration: underline; } }

._5RegP8z {
  opacity: 0.6;
  text-decoration: none;
  color: var(--c-fg); }
  ._5RegP8z:target, ._5RegP8z:focus, ._5RegP8z:active {
    text-decoration: underline; }
  @media (hover: hover) {
    ._5RegP8z:hover {
      text-decoration: underline; } }

.UqdlA3p {
  color: var(--c-acc);
  text-decoration: none;
  margin-bottom: 6px;
  display: block; }
  .UqdlA3p:target, .UqdlA3p:focus, .UqdlA3p:active {
    text-decoration: underline; }
  @media (hover: hover) {
    .UqdlA3p:hover {
      text-decoration: underline; } }

.RGTZRdA {
  display: table;
  border-spacing: 10px;
  cursor: pointer; }
  .RGTZRdA:target .vdEnrqT, .RGTZRdA:focus .vdEnrqT, .RGTZRdA:active .vdEnrqT {
    opacity: 1; }
  .RGTZRdA:target ._50y8b5G .xHEKuQK label, .RGTZRdA:focus ._50y8b5G .xHEKuQK label, .RGTZRdA:active ._50y8b5G .xHEKuQK label {
    left: 15px;
    width: 18px;
    opacity: 1; }
    .RGTZRdA:target ._50y8b5G .xHEKuQK label.xWTVY77, .RGTZRdA:focus ._50y8b5G .xHEKuQK label.xWTVY77, .RGTZRdA:active ._50y8b5G .xHEKuQK label.xWTVY77 {
      left: 7px; }
  @media (hover: hover) {
    .RGTZRdA:hover .vdEnrqT {
      opacity: 1; }
    .RGTZRdA:hover ._50y8b5G .xHEKuQK label {
      left: 15px;
      width: 18px;
      opacity: 1; }
      .RGTZRdA:hover ._50y8b5G .xHEKuQK label.xWTVY77 {
        left: 7px; } }
  .RGTZRdA > * {
    display: table-cell;
    vertical-align: middle; }
  .RGTZRdA ._50y8b5G .xHEKuQK {
    border-radius: 22px;
    width: 40px;
    height: 22px;
    position: relative;
    background-color: var(--c-ntr-op);
    margin-top: 2.26667px;
    transition: background-color 0.23s ease-in-out; }
    .RGTZRdA ._50y8b5G .xHEKuQK label {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 4px;
      left: 22px;
      border-radius: 14px;
      background-color: var(--c-fg);
      opacity: 0.6;
      pointer-events: none;
      transition: left 0.23s ease-in-out, width 0.23s ease-in-out, opacity 0.23s ease-in-out, background-color 0.23s ease-in-out; }
      .RGTZRdA ._50y8b5G .xHEKuQK label.xWTVY77 {
        left: 4px; }
      .RGTZRdA ._50y8b5G .xHEKuQK label input[type="checkbox"] {
        display: none; }
  .RGTZRdA .vdEnrqT {
    width: 22px;
    height: 22px;
    margin-top: 2.26667px;
    opacity: 0.8;
    transition: opacity 0.23s ease-in-out; }
    .RGTZRdA .vdEnrqT.NLsBqOB path {
      fill: #163b88; }
      @media screen {
        html[data-theme="dark"] .RGTZRdA .vdEnrqT.NLsBqOB path {
          fill: #4f75b3; } }
    .RGTZRdA .vdEnrqT.kwmBaOM path {
      fill: #ffb700; }
      @media screen {
        html[data-theme="dark"] .RGTZRdA .vdEnrqT.kwmBaOM path {
          fill: #edd326; } }
    .RGTZRdA .vdEnrqT path {
      transition: fill 0.23s ease-in-out; }

.PL3bEji .m7TCf6v {
  margin-top: var(--s-pad-vert);
  margin-left: var(--s-pad-hori);
  margin-right: var(--s-pad-hori);
  margin-bottom: calc(0.5 * var(--s-pad-vert));
  --s-header-height: 60px; }
  @media screen and (max-width: 519px) {
    .PL3bEji .m7TCf6v {
      --s-header-height: 40px; } }
  .PL3bEji .m7TCf6v img {
    height: var(--s-header-height);
    margin-right: 0.5em; }
  .PL3bEji .m7TCf6v h1 {
    display: inline-block;
    margin: 0;
    font-size: calc(var(--s-header-height) * 0.9);
    line-height: 1.111;
    cursor: pointer; }
    .PL3bEji .m7TCf6v h1:target, .PL3bEji .m7TCf6v h1:focus, .PL3bEji .m7TCf6v h1:active {
      opacity: 0.7; }
    @media (hover: hover) {
      .PL3bEji .m7TCf6v h1:hover {
        opacity: 0.7; } }
    .PL3bEji .m7TCf6v h1 span {
      vertical-align: top; }
  .PL3bEji .m7TCf6v ._6YVddGm {
    float: right;
    margin-top: 10px; }
    @media screen and (max-width: 519px) {
      .PL3bEji .m7TCf6v ._6YVddGm {
        margin-top: 0; } }

.PL3bEji main {
  margin-left: var(--s-pad-hori);
  margin-right: var(--s-pad-hori);
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 999px) {
    .PL3bEji main {
      flex-direction: column; } }
  .PL3bEji main > * > h2 {
    font-size: 1.2rem;
    margin-top: 0.4rem;
    margin-bottom: calc(0.8rem + 11px); }

