html {
  font-family: $f-family-base;
  font-size: $f-size-base;
  background-color: var(--c-bg) !important;
  color: var(--c-fg) !important;
  min-width: 430px;

  :focus {
    outline: none;
  }

  ::selection {
    color: $c-light;
    background-color: $c-accent;
  }

  @include transit(background-color, color);

  --c-acc: #{$c-accent};
  --c-pst: #{$c-pastel};
  --c-ntr: #{$c-neutral};

  --c-ntr-op: #{$c-neutral-opaque};

  &[data-theme="light"] {
    --c-fg: #{$c-dark};
    --c-fg2: #{$c-dark-brighter};
    --c-bg: #{$c-light};
    --c-bg2: #{$c-light-darker};
  }

  &[data-theme="dark"] {
    --c-fg: #{$c-light};
    --c-fg2: #{$c-light-darker};
    --c-bg: #{$c-dark};
    --c-bg2: #{$c-dark-brighter};
  }
}

body {
  text-align: left;
  margin: 0;
  word-break: keep-all;

  --s-pad-hori: 50px;
  --s-pad-vert: 80px;
  --s-view: 'normal';

  @include onUltraWideView {
    --s-pad-hori: 200px;
    --s-view: 'ultra-wide';
  }

  @include onWideView {
    --s-view: 'wide';
  }

  @include onCompactView {
    --s-pad-hori: 30px;
    --s-pad-vert: 60px;
    --s-view: 'compact';
  }

  @include onUltraCompactView {
    --s-pad-hori: 20px;
    --s-pad-vert: 40px;
    --s-view:'ultra-compact';
  }

  a {
    text-decoration: none;

    @include onFocus {
      text-decoration: underline;
    }
  }

  div[id="__next-prerender-indicator"]::after {
    z-index: 99999;
    background-color: white;
    content: var(--s-view);
    position: fixed;
    bottom: 12px;
    left: 12px;
    color: black;
    padding: 1px 5px;
    border-radius: 3px;
    opacity: 0.6;
  }
}
