$HEADER_HEIGHT: 60px;

.front {
  .header {
    margin-top: var(--s-pad-vert);
    margin-left: var(--s-pad-hori);
    margin-right: var(--s-pad-hori);

    img {
      height: $HEADER_HEIGHT;
      margin-right: 0.5em;
    }

    h1 {
      display: inline-block;
      margin: 0;
      font-size: $HEADER_HEIGHT * 0.9;
      line-height: 1.111;

      span {
        vertical-align: top;
      }
    }

    .modarkbul {
      top: var(--s-pad-vert);
      margin-top: 11px;
      right: var(--s-pad-hori);
      position: absolute;
    }
  }
}
