.front {
  .header {
    margin-top: var(--s-pad-vert);
    margin-left: var(--s-pad-hori);
    margin-right: var(--s-pad-hori);
    margin-bottom: calc(0.5 * var(--s-pad-vert));

    --s-header-height: 60px;

    @include onUltraCompactView {
      --s-header-height: 40px;
    }

    img {
      height: var(--s-header-height);
      margin-right: 0.5em;
    }

    h1 {
      display: inline-block;
      margin: 0;
      font-size: calc(var(--s-header-height) * 0.9);
      line-height: 1.111;
      cursor: pointer;

      @include onFocus {
        opacity: 0.7;
      }

      span {
        vertical-align: top;
      }
    }

    .modarkbul {
      float: right;
      margin-top: 10px;

      @include onUltraCompactView {
        margin-top: 0;
      }
    }
  }

  main {
    margin-left: var(--s-pad-hori);
    margin-right: var(--s-pad-hori);
    display: flex;
    flex-direction: row;

    @include onNormalView {
      flex-direction: column;
    }

    & > * > h2 {
      font-size: 1.2rem;
      margin-top: 0.4rem;
      margin-bottom: calc(0.8rem + 11px);
    }

    .preparingBlock {
      min-height: 400px;
      flex-grow: 1;
    }
  }
}
