.wrapper {
  padding: $rpad-vert $rpad-hori;
  min-width: calc(90vw - #{$scrollbar-approx});
  min-height: 70vh;
  max-width: 100vw;
  overflow-x: hidden;

  ::selection {
    background-color: var(--c-acnt);
    color: var(--c-fore);
  }

  a, a:visited {
    color: inherit;
    text-decoration: underline;
    max-width: 54vw;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

    &, * {
      cursor: pointer;
    }

    &[data-mono] {
      font-family: 'Fira Mono', monospace;
    }

    &[data-mono="slide"] {
      $mono-slide-pad-vert: 1px;
      $mono-slide-pad-hori: 3px;

      position: relative;
      transition: text-shadow 0.8s, color 0.4s;
      padding: $mono-slide-pad-vert $mono-slide-pad-hori;

      &::before {
        content: '';
        background-color: var(--c-fore);
        width: 0px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: left 0.4s, width 0.4s, right 0.4s;
        border-radius: $mono-slide-pad-hori;
      }

      &:hover, &:focus {
        color: var(--c-back);
        text-shadow: none;
        transition: text-shadow 0.2s, color 0.4s;
        outline: none;

        &::before {
          left: 0;
          right: 0;
          width: 100%;
        }
      }
    }
  }

  img {
    @include disable-select;
  }

  span {
    font-size: $fs-base;
    font-weight: 400;
  }

  [data-visible="opaque"] {
    opacity: 1;
  }

  [data-visible="translucent"] {
    opacity: 0.4;
  }

  [data-visible="transparent"] {
    opacity: 0;
  }

  .header {
    margin-bottom: 2rem;
    display: inline-block;
    z-index: 10;
    position: relative;

    h1 {
      font-size: calc(#{3 * $fs-base} + 2vw);
      margin: 0 0 .5rem 0;
      font-weight: 700;
      word-break: keep-all;
    }
    h2 {
      font-size: calc(#{1.5 * $fs-base} + 1vw);
      margin: 0 0 .5rem 0;
      font-weight: 500;
      word-break: keep-all;
    }
    span {
      color: var(--c-acnt);
    }
  }

  .main {
    display: block;
    z-index: 10;
    position: relative;

    span {
      white-space: pre;
      text-shadow: 0 0 5px var(--c-back);
    }
  }

  .footer {
    display: contents;

    .blhx {
      position: fixed;
      z-index: 0;
      bottom: $rpad-vert - 5vh;
      right: $rpad-hori;
      max-width: 50vw;
      height: auto;
      max-height: 100vh - 2 * $rpad-vert;
      transition: opacity .4s ease-in-out;
    }
  }
}
