.wrapper {
  padding: $rpad-vert $rpad-hori;
  min-width: calc(90vw - $scrollbar-approx);
  min-height: 70vh;

  * {
    @include disable-select;
    cursor: default;
  }

  a, a:visited {
    color: inherit;
    text-decoration: underline;

    &, * {
      cursor: pointer;
    }
  }

  span {
    font-size: $fs-base;
    font-weight: 400;
  }

  [data-visible="opaque"] {
    opacity: 1;
  }

  [data-visible="translucent"] {
    opacity: 0.4;
  }

  [data-visible="transparent"] {
    opacity: 0;
  }

  .header {
    margin-bottom: 2rem;
    display: inline-block;
    z-index: 10;
    position: relative;

    h1 {
      font-size: calc(#{3 * $fs-base} + 2vw);
      margin: 0 0 .5rem 0;
      font-weight: 700;
      word-break: keep-all;
    }
    h2 {
      font-size: calc(#{1.5 * $fs-base} + 1vw);
      margin: 0 0 .5rem 0;
      font-weight: 500;
      word-break: keep-all;
    }
    span {
      color: $c-dim;
    }
  }

  .main {
    display: block;
    z-index: 10;
    position: relative;

    span {
      white-space: pre;
      text-shadow: 0 0 5px var(--c-back);
    }
  }

  .footer {
    display: contents;

    .blhx {
      position: fixed;
      z-index: 0;
      bottom: $rpad-vert - 5vh;
      right: $rpad-hori;
      max-width: 50vw;
      height: auto;
      max-height: 100vh - 2 * $rpad-vert;
      transition: opacity .4s ease-in-out;
    }
  }
}
