.preparingContainer {
  min-height: 400px;
  background-color: var(--c-ntr-op);
  padding: 20px;
  border-radius: 3px;
  flex-grow: 1;

  @include onNormalView {
    min-height: initial;
    padding-bottom: 40px;
  }

  .preparingIcon {
    font-size: 4rem;
  }
}
