.metaLinks {
  min-width: 240px;
  user-select: none;

  --s-metalink-factor: 1;

  h2 {
    @include onUltraCompactView {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0 0.2rem 10px 0;
    }
  }

  @include onNormalView {
    ul {
      display: block;

      li {
        display: inline-block;
      }
    }
  }

  @include onUltraCompactView {
    --s-metalink-factor: 0.8162;
  }
}
