[data-theme="dark"] body {
  --c-fore: #{$c-light};
  --c-back: #{$c-dark};
  --c-acnt: #{$c-bright};
}

[data-theme="light"] body {
  --c-fore: #{$c-dark};
  --c-back: #{$c-light};
  --c-acnt: #{$c-dim};
}

body {
  background-color: var(--c-back);
  color: var(--c-fore);
  font-family: "Noto Sans KR", sans-serif;
  font-size: $fs-base;
  text-align: left;
  margin: 0;

  & > * {
    opacity: 0;
    transition: opacity .4s;
  }

  &[data-ready="true"] > * {
    opacity: initial;
  }
}
