// This will be automatically imported to all scss files.

///////////
// Color //
///////////
$c-accent: #e34; // accent color
$c-dim: #b5897f; // dimming color
$c-dark: #000; // dark main color
$c-light: #fff; // white main color

//////////
// Font //
//////////
$fs-base: 11pt; // base font size

//////////
// Size //
//////////
$scrollbar-approx: 36px; // approximate thickness of scrollbar
$rpad-hori: 5vw; // root padding horizontal
$rpad-vert: 15vh; // root padding vertical
