///////////
// Color //
///////////
$c-dark: #000;
$c-dark-brighter: #2b2b2b;

$c-light: #fff;
$c-light-darker: #dedede;

$c-accent: #3ba;
$c-pastel: #6bb;

$c-neutral: #808c8b;
$c-neutral-opaque: rgba(165, 165, 165, .3);

//////////
// Font //
//////////
$f-family-base: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
$f-family-mono: 'Fira Mono', 'Noto Sans CJK KR', 'Noto Sans KR', monospace;
$f-size-base: 16px;

//////////
// Size //
//////////

$s-ultra-wide-start: 1930px;
$s-wide-start: 1000px;
$s-normal-start: 800px;
$s-compact-start: 520px;
$s-ultra-compact-start: 330px;
$s-radius-small: 3px;
$s-radius-large: 14px;
